# Build and Release Folders
bin-debug/
bin-release/
ssl/
3rdParty

# Other files and folders
.settings/
.project
.pydevproject
*.sw*
.ruby-*
*.pyc

.bundle
Gemfile.lock
.kitchen/

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
.vagrant*

# Ignore vim tep files
*~

# IntelliJ
.idea
