HTML {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 100%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; FONT-FAMILY: inherit; BORDER-RIGHT-WIDTH: 0px
}
BODY {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 100%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; FONT-FAMILY: inherit; BORDER-RIGHT-WIDTH: 0px
}
DIV {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 100%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; FONT-FAMILY: inherit; BORDER-RIGHT-WIDTH: 0px
}
SPAN {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 100%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; FONT-FAMILY: inherit; BORDER-RIGHT-WIDTH: 0px
}
OBJECT {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 100%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; FONT-FAMILY: inherit; BORDER-RIGHT-WIDTH: 0px
}
IFRAME {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 100%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; FONT-FAMILY: inherit; BORDER-RIGHT-WIDTH: 0px
}
H1 {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 100%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; FONT-FAMILY: inherit; BORDER-RIGHT-WIDTH: 0px
}
H2 {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 100%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; FONT-FAMILY: inherit; BORDER-RIGHT-WIDTH: 0px
}
H3 {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 100%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; FONT-FAMILY: inherit; BORDER-RIGHT-WIDTH: 0px
}
H4 {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 100%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; FONT-FAMILY: inherit; BORDER-RIGHT-WIDTH: 0px
}
H5 {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 100%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; FONT-FAMILY: inherit; BORDER-RIGHT-WIDTH: 0px
}
H6 {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 100%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; FONT-FAMILY: inherit; BORDER-RIGHT-WIDTH: 0px
}
P {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 100%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; FONT-FAMILY: inherit; BORDER-RIGHT-WIDTH: 0px
}
BLOCKQUOTE {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 100%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; FONT-FAMILY: inherit; BORDER-RIGHT-WIDTH: 0px
}
PRE {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 100%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; FONT-FAMILY: inherit; BORDER-RIGHT-WIDTH: 0px
}
A {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 100%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; FONT-FAMILY: inherit; BORDER-RIGHT-WIDTH: 0px
}
ABBR {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 100%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; FONT-FAMILY: inherit; BORDER-RIGHT-WIDTH: 0px
}
ACRONYM {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 100%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; FONT-FAMILY: inherit; BORDER-RIGHT-WIDTH: 0px
}
ADDRESS {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 100%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; FONT-FAMILY: inherit; BORDER-RIGHT-WIDTH: 0px
}
CODE {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 100%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; FONT-FAMILY: inherit; BORDER-RIGHT-WIDTH: 0px
}
DEL {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 100%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; FONT-FAMILY: inherit; BORDER-RIGHT-WIDTH: 0px
}
DFN {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 100%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; FONT-FAMILY: inherit; BORDER-RIGHT-WIDTH: 0px
}
EM {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 100%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; FONT-FAMILY: inherit; BORDER-RIGHT-WIDTH: 0px
}
IMG {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 100%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; FONT-FAMILY: inherit; BORDER-RIGHT-WIDTH: 0px
}
Q {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 100%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; FONT-FAMILY: inherit; BORDER-RIGHT-WIDTH: 0px
}
DL {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 100%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; FONT-FAMILY: inherit; BORDER-RIGHT-WIDTH: 0px
}
DT {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 100%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; FONT-FAMILY: inherit; BORDER-RIGHT-WIDTH: 0px
}
DD {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 100%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; FONT-FAMILY: inherit; BORDER-RIGHT-WIDTH: 0px
}
OL {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 100%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; FONT-FAMILY: inherit; BORDER-RIGHT-WIDTH: 0px
}
UL {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 100%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; FONT-FAMILY: inherit; BORDER-RIGHT-WIDTH: 0px
}
LI {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 100%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; FONT-FAMILY: inherit; BORDER-RIGHT-WIDTH: 0px
}
FIELDSET {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 100%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; FONT-FAMILY: inherit; BORDER-RIGHT-WIDTH: 0px
}
FORM {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 100%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; FONT-FAMILY: inherit; BORDER-RIGHT-WIDTH: 0px
}
LABEL {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 100%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; FONT-FAMILY: inherit; BORDER-RIGHT-WIDTH: 0px
}
LEGEND {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 100%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; FONT-FAMILY: inherit; BORDER-RIGHT-WIDTH: 0px
}
TABLE {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 100%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; FONT-FAMILY: inherit; BORDER-RIGHT-WIDTH: 0px
}
CAPTION {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 100%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; FONT-FAMILY: inherit; BORDER-RIGHT-WIDTH: 0px
}
TBODY {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 100%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; FONT-FAMILY: inherit; BORDER-RIGHT-WIDTH: 0px
}
TFOOT {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 100%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; FONT-FAMILY: inherit; BORDER-RIGHT-WIDTH: 0px
}
THEAD {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 100%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; FONT-FAMILY: inherit; BORDER-RIGHT-WIDTH: 0px
}
TR {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 100%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; FONT-FAMILY: inherit; BORDER-RIGHT-WIDTH: 0px
}
TH {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 100%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; FONT-FAMILY: inherit; BORDER-RIGHT-WIDTH: 0px
}
TD {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 100%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: baseline; PADDING-TOP: 0px; FONT-FAMILY: inherit; BORDER-RIGHT-WIDTH: 0px
}
BODY {
	BACKGROUND: #fff; MARGIN: 1.5em 0px; LINE-HEIGHT: 1.5
}
TABLE {
	BORDER-COLLAPSE: separate; border-spacing: 0
}
CAPTION {
	FONT-WEIGHT: 400; TEXT-ALIGN: left
}
TH {
	FONT-WEIGHT: 400; TEXT-ALIGN: left
}
TD {
	FONT-WEIGHT: 400; TEXT-ALIGN: left
}
BLOCKQUOTE:unknown {
	content: ""
}
BLOCKQUOTE:unknown {
	content: ""
}
Q:unknown {
	content: ""
}
Q:unknown {
	content: ""
}
BLOCKQUOTE {
	quotes: """"
}
Q {
	quotes: """"
}
A IMG {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.container {
	MIN-WIDTH: 950px; MARGIN: 0px auto; OVERFLOW: hidden; WIDTH: 80%
}
.block {
	OVERFLOW: hidden
}
.column {
	FLOAT: left
}
.last {
	MARGIN-RIGHT: 0px
}
.span-1 {
	WIDTH: 4%
}
.span-2 {
	WIDTH: 8%
}
.span-3 {
	WIDTH: 12%
}
.span-4 {
	WIDTH: 16%
}
.span-5 {
	WIDTH: 20%
}
.span-6 {
	WIDTH: 25%
}
.span-7 {
	WIDTH: 29%
}
.span-8 {
	WIDTH: 33%
}
.span-9 {
	WIDTH: 37%
}
.span-10 {
	WIDTH: 41%
}
.span-11 {
	WIDTH: 45%
}
.span-12 {
	WIDTH: 50%
}
.span-13 {
	WIDTH: 54%
}
.span-14 {
	WIDTH: 58%
}
.span-15 {
	WIDTH: 62%
}
.span-16 {
	WIDTH: 66%
}
.span-17 {
	WIDTH: 70%
}
.span-18 {
	WIDTH: 75%
}
.span-19 {
	WIDTH: 79%
}
.span-20 {
	WIDTH: 83%
}
.span-21 {
	WIDTH: 87%
}
.span-22 {
	WIDTH: 91%
}
.span-23 {
	WIDTH: 95%
}
.span-24 {
	WIDTH: 100%; MARGIN-RIGHT: 0px
}
.span-1 > DIV {
	MARGIN: 0px 0.83em 0px 0px; OVERFLOW: hidden
}
.span-2 > DIV {
	MARGIN: 0px 0.83em 0px 0px; OVERFLOW: hidden
}
.span-3 > DIV {
	MARGIN: 0px 0.83em 0px 0px; OVERFLOW: hidden
}
.span-4 > DIV {
	MARGIN: 0px 0.83em 0px 0px; OVERFLOW: hidden
}
.span-5 > DIV {
	MARGIN: 0px 0.83em 0px 0px; OVERFLOW: hidden
}
.span-6 > DIV {
	MARGIN: 0px 0.83em 0px 0px; OVERFLOW: hidden
}
.span-7 > DIV {
	MARGIN: 0px 0.83em 0px 0px; OVERFLOW: hidden
}
.span-8 > DIV {
	MARGIN: 0px 0.83em 0px 0px; OVERFLOW: hidden
}
.span-9 > DIV {
	MARGIN: 0px 0.83em 0px 0px; OVERFLOW: hidden
}
.span-10 > DIV {
	MARGIN: 0px 0.83em 0px 0px; OVERFLOW: hidden
}
.span-11 > DIV {
	MARGIN: 0px 0.83em 0px 0px; OVERFLOW: hidden
}
.span-12 > DIV {
	MARGIN: 0px 0.83em 0px 0px; OVERFLOW: hidden
}
.span-13 > DIV {
	MARGIN: 0px 0.83em 0px 0px; OVERFLOW: hidden
}
.span-14 > DIV {
	MARGIN: 0px 0.83em 0px 0px; OVERFLOW: hidden
}
.span-15 > DIV {
	MARGIN: 0px 0.83em 0px 0px; OVERFLOW: hidden
}
.span-16 > DIV {
	MARGIN: 0px 0.83em 0px 0px; OVERFLOW: hidden
}
.span-17 > DIV {
	MARGIN: 0px 0.83em 0px 0px; OVERFLOW: hidden
}
.span-18 > DIV {
	MARGIN: 0px 0.83em 0px 0px; OVERFLOW: hidden
}
.span-19 > DIV {
	MARGIN: 0px 0.83em 0px 0px; OVERFLOW: hidden
}
.span-20 > DIV {
	MARGIN: 0px 0.83em 0px 0px; OVERFLOW: hidden
}
.span-21 > DIV {
	MARGIN: 0px 0.83em 0px 0px; OVERFLOW: hidden
}
.span-22 > DIV {
	MARGIN: 0px 0.83em 0px 0px; OVERFLOW: hidden
}
.span-23 > DIV {
	MARGIN: 0px 0.83em 0px 0px; OVERFLOW: hidden
}
.span-24 > DIV {
	MARGIN: 0px 0.83em 0px 0px; OVERFLOW: hidden
}
.append-1 {
	PADDING-RIGHT: 4%
}
.append-2 {
	PADDING-RIGHT: 8%
}
.append-3 {
	PADDING-RIGHT: 12%
}
.append-4 {
	PADDING-RIGHT: 16%
}
.append-5 {
	PADDING-RIGHT: 20%
}
.append-6 {
	PADDING-RIGHT: 25%
}
.append-7 {
	PADDING-RIGHT: 29%
}
.append-8 {
	PADDING-RIGHT: 33%
}
.append-9 {
	PADDING-RIGHT: 37%
}
.append-10 {
	PADDING-RIGHT: 41%
}
.append-11 {
	PADDING-RIGHT: 45%
}
.append-12 {
	PADDING-RIGHT: 50%
}
.append-13 {
	PADDING-RIGHT: 54%
}
.append-14 {
	PADDING-RIGHT: 58%
}
.append-15 {
	PADDING-RIGHT: 62%
}
.append-16 {
	PADDING-RIGHT: 66%
}
.append-17 {
	PADDING-RIGHT: 70%
}
.append-18 {
	PADDING-RIGHT: 75%
}
.append-19 {
	PADDING-RIGHT: 79%
}
.append-20 {
	PADDING-RIGHT: 83%
}
.append-21 {
	PADDING-RIGHT: 87%
}
.append-22 {
	PADDING-RIGHT: 91%
}
.append-23 {
	PADDING-RIGHT: 95%
}
.prepend-1 {
	PADDING-LEFT: 4%
}
.prepend-2 {
	PADDING-LEFT: 8%
}
.prepend-3 {
	PADDING-LEFT: 12%
}
.prepend-4 {
	PADDING-LEFT: 16%
}
.prepend-5 {
	PADDING-LEFT: 20%
}
.prepend-6 {
	PADDING-LEFT: 25%
}
.prepend-7 {
	PADDING-LEFT: 29%
}
.prepend-8 {
	PADDING-LEFT: 33%
}
.prepend-9 {
	PADDING-LEFT: 37%
}
.prepend-10 {
	PADDING-LEFT: 41%
}
.prepend-11 {
	PADDING-LEFT: 45%
}
.prepend-12 {
	PADDING-LEFT: 50%
}
.prepend-13 {
	PADDING-LEFT: 54%
}
.prepend-14 {
	PADDING-LEFT: 58%
}
.prepend-15 {
	PADDING-LEFT: 62%
}
.prepend-16 {
	PADDING-LEFT: 66%
}
.prepend-17 {
	PADDING-LEFT: 70%
}
.prepend-18 {
	PADDING-LEFT: 75%
}
.prepend-19 {
	PADDING-LEFT: 79%
}
.prepend-20 {
	PADDING-LEFT: 83%
}
.prepend-21 {
	PADDING-LEFT: 87%
}
.prepend-22 {
	PADDING-LEFT: 91%
}
.prepend-23 {
	PADDING-LEFT: 95%
}
.border {
	BORDER-RIGHT: #eee 1px solid
}
.colborder {
	BORDER-RIGHT: #eee 1px solid; PADDING-RIGHT: 2%; MARGIN-RIGHT: 2%
}
.colborder > DIV {
	MARGIN: 0px
}
.pull-1 {
	MARGIN-LEFT: -3.33em
}
.pull-2 {
	MARGIN-LEFT: -6.66em
}
.pull-3 {
	MARGIN-LEFT: -10em
}
.pull-4 {
	MARGIN-LEFT: -13.33em
}
.push-0 {
	MARGIN: 0px 0px 0px 1.5em
}
.push-1 {
	MARGIN: 0px -3.33em 0px 1.5em
}
.push-2 {
	MARGIN: 0px -6.66em 0px 1.5em
}
.push-3 {
	MARGIN: 0px -10em 0px 1.5em
}
.push-4 {
	MARGIN: 0px -13.33em 0px 1.5em
}
.push-0 {
	FLOAT: right
}
.push-1 {
	FLOAT: right
}
.push-2 {
	FLOAT: right
}
.push-3 {
	FLOAT: right
}
.push-4 {
	FLOAT: right
}
.box {
	PADDING-RIGHT: 1.5em; PADDING-LEFT: 1.5em; BACKGROUND: #eee; MARGIN-BOTTOM: 1.5em; PADDING-BOTTOM: 1.5em; PADDING-TOP: 1.5em
}
HR {
	BACKGROUND: #ddd; MARGIN: 0px 0px 1.58em; WIDTH: 100%; COLOR: #ddd; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 0.08em; BORDER-BOTTOM-STYLE: none
}
HR.space {
	BACKGROUND: #fff; COLOR: #fff
}
BODY {
	FONT-SIZE: 75%
}
BODY {
	COLOR: #222; FONT-FAMILY: "Helvetica Neue","Lucida Grande",Helvetica,Arial,Verdana,sans-serif
}
H1 {
	COLOR: #111; FONT-FAMILY: "Helvetica Neue",Helvetica,Arial,sans-serif
}
H2 {
	COLOR: #111; FONT-FAMILY: "Helvetica Neue",Helvetica,Arial,sans-serif
}
H3 {
	COLOR: #111; FONT-FAMILY: "Helvetica Neue",Helvetica,Arial,sans-serif
}
H4 {
	COLOR: #111; FONT-FAMILY: "Helvetica Neue",Helvetica,Arial,sans-serif
}
H5 {
	COLOR: #111; FONT-FAMILY: "Helvetica Neue",Helvetica,Arial,sans-serif
}
H6 {
	COLOR: #111; FONT-FAMILY: "Helvetica Neue",Helvetica,Arial,sans-serif
}
H1 {
	FONT-WEIGHT: normal
}
H2 {
	FONT-WEIGHT: normal
}
H3 {
	FONT-WEIGHT: normal
}
H4 {
	FONT-WEIGHT: normal
}
H5 {
	FONT-WEIGHT: normal
}
H6 {
	FONT-WEIGHT: normal
}
H1 {
	FONT-SIZE: 3em; MARGIN-BOTTOM: 0.5em; LINE-HEIGHT: 1
}
H2 {
	FONT-SIZE: 2em; MARGIN-BOTTOM: 0.75em
}
H3 {
	FONT-SIZE: 1.5em; MARGIN-BOTTOM: 1em; LINE-HEIGHT: 1
}
H4 {
	FONT-SIZE: 1.2em; MARGIN-BOTTOM: 1.25em; LINE-HEIGHT: 1.25
}
H5 {
	MARGIN-TOP: 2em; FONT-WEIGHT: bold; FONT-SIZE: 1.1em; MARGIN-BOTTOM: 1.4em
}
H6 {
	FONT-WEIGHT: bold; FONT-SIZE: 1em
}
P {
	MARGIN: 0px 0px 1.5em
}
P.last {
	MARGIN-BOTTOM: 0px
}
P IMG {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 1.5em 1.5em 1.5em 0px; PADDING-TOP: 0px
}
P IMG.top {
	MARGIN-TOP: 0px
}
IMG {
	MARGIN: 0px 0px 1.5em
}
UL {
	LIST-STYLE-POSITION: inside; MARGIN-BOTTOM: 1.5em
}
OL {
	LIST-STYLE-POSITION: inside; MARGIN-BOTTOM: 1.5em
}
UL {
	LIST-STYLE-TYPE: circle
}
OL {
	LIST-STYLE-TYPE: decimal
}
UL OL {
	MARGIN-LEFT: 1.5em
}
OL UL {
	MARGIN-LEFT: 1.5em
}
UL UL {
	MARGIN-LEFT: 1.5em
}
OL OL {
	MARGIN-LEFT: 1.5em
}
DL {
	MARGIN: 1.5em 0px
}
DL DT {
	FONT-WEIGHT: bold
}
DD {
	MARGIN-LEFT: 1.5em
}
ABBR {
	BORDER-BOTTOM: #666 1px dotted
}
ACRONYM {
	BORDER-BOTTOM: #666 1px dotted
}
ADDRESS {
	MARGIN-TOP: 1.5em; FONT-STYLE: italic
}
A:focus {
	COLOR: #000
}
A:hover {
	COLOR: #000
}
A {
	COLOR: #009; TEXT-DECORATION: underline
}
BLOCKQUOTE {
	MARGIN: 1.5em; COLOR: #666; FONT-STYLE: italic
}
STRONG {
	FONT-WEIGHT: bold
}
EM {
	FONT-STYLE: italic
}
DFN {
	FONT-STYLE: italic
}
DFN {
	FONT-WEIGHT: 700
}
PRE {
	MARGIN: 1.5em 0px; WHITE-SPACE: pre
}
CODE {
	MARGIN: 1.5em 0px; WHITE-SPACE: pre
}
PRE {
	FONT: 1em/1.5 'andale mono','monotype.com','lucida console',monospace
}
CODE {
	FONT: 1em/1.5 'andale mono','monotype.com','lucida console',monospace
}
TT {
	FONT: 1em/1.5 'andale mono','monotype.com','lucida console',monospace
}
TT {
	DISPLAY: block; MARGIN: 1.5em 0px; LINE-HEIGHT: 1.5
}
TABLE {
	MARGIN-BOTTOM: 1.4em
}
TH {
	FONT-WEIGHT: bold; BORDER-BOTTOM: #ccc 2px solid
}
TD {
	BORDER-BOTTOM: #ddd 1px solid
}
TH {
	PADDING-RIGHT: 10px; PADDING-LEFT: 0px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
TD {
	PADDING-RIGHT: 10px; PADDING-LEFT: 0px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
TFOOT {
	FONT-STYLE: italic
}
TABLE .last {
	PADDING-RIGHT: 0px
}
.small {
	FONT-SIZE: 0.8em; MARGIN-BOTTOM: 1.87em; LINE-HEIGHT: 1.87em
}
.large {
	FONT-SIZE: 1.2em; MARGIN-BOTTOM: 1.25em; LINE-HEIGHT: 2.5em
}
.quiet {
	COLOR: #666
}
.hide {
	DISPLAY: none
}
.alt {
	FONT-WEIGHT: normal; FONT-SIZE: 1.2em; COLOR: #666; LINE-HEIGHT: 80%; FONT-STYLE: italic; FONT-FAMILY: "Warnock Pro","Goudy Old Style","Palatino","Book Antiqua",Georgia,serif
}
.dquo {
	MARGIN-LEFT: -0.5em
}
P.incr {
	FONT-SIZE: 10px; MARGIN-BOTTOM: 1.5em; LINE-HEIGHT: 1.44em
}
.incr P {
	FONT-SIZE: 10px; MARGIN-BOTTOM: 1.5em; LINE-HEIGHT: 1.44em
}
.caps {
	FONT-WEIGHT: bold; FONT-SIZE: 1.2em; TEXT-TRANSFORM: lowercase; LINE-HEIGHT: 1%; LETTER-SPACING: 1px; FONT-VARIANT: small-caps
}
