#/etc/puppet/modules/buildbot_slave/files/.puppet-lint.rc

# lint check excludes - checks we don't want to perform right now.
# note these checks are performed against the default modules dir and
# also the windows envirnoment modules dir.

--no-nested_classes_or_defines-check
--no-autoloader_layout-check
--no-parameter_order-check

