[Unit]
Description=Fisheye

[Service]
Type=forking
ExecStart=/usr/local/fisheye/current/bin/start.sh
ExecStop=/usr/local/fisheye/current/bin/stop.sh
User=fisheye
Group=fisheye

[Install]
WantedBy=multi-user.target
Alias=fisheye.service
