[Unit]
Description=Fisheye

[Service]
Type=forking
ExecStart=/usr/local/fisheye/current/bin/start.sh
ExecStop=/usr/local/fisheye/current/bin/stop.sh
User=fisheye
Group=fisheye
Environment="FISHEYE_INST=/usr/local/fisheye/fisheye-data"
Environment="FISHEYE_OPTS=-Xmx4096m -Xms1024m -XX:MaxMetaspaceSize=4096m"

[Install]
WantedBy=multi-user.target
Alias=fisheye.service
