[include "headers.http"][#
]<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <link rel="stylesheet" href="[script_dirname]style/compressed.css" type="text/css" media="screen, projection"/>
    <link rel="stylesheet" href="[script_dirname]style/style.css" type="text/css" media="screen, projection"/>
    <title>[title]</title>
  </head>
  <body>
    <div class="container" >
        <div class="block" >
            <div class="header">
                <a href="[base_url]"><img title="Logo" alt="Logo" src="[script_dirname]img/asf_logo_wide_small.png" /></a>
            </div>		
        </div>
        <hr class="space col"/>
            [# this was constructed in layout.html ]
            [format "raw"][fullbody][end]
        <div class="block content" >
            <div class="column span-24 footer">
                <p>
                    Copyright &copy; 2015 The Apache Software Foundation,
                    Licensed under the 
                    <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache License, Version 2.0</a>.<br />
                    Apache and the Apache feather logo are trademarks of
                    The Apache Software Foundation.
                </p>
            </div>
        </div>
    </div>
  </body>
[if-any _debug]
<pre>DEBUG:
[_debug]</pre>
[end]
</html>
