[define title]Apache Account Utility: Change Password[end][#
][define body]
			<form action="?session=[session]" method="POST" >
				<p><label>Old Password</label><input type="password" name="old_pw" tabindex="1" /></p>
				<p><label>New Password</label><input type="password" name="new_pw1" tabindex="2" /></p>
				<p><label>Confirm New Password</label><input type="password" name="new_pw2" tabindex="2" /></p>
				<p><input type="submit" name="submit" value="Update..." tabindex="100" /></p>
				<p><input type="hidden" name="availid" value="[availid]" /></p>
				<p><input type="hidden" name="session" value="[session]" /></p>
			</form>
[end][define toolbar]
	<div class="column span-8 first append-1"><h2>Apache Account Utility</h2></div>
	<div class="column span-6 right"><h2>Welcome: [availid]</h2></div>
        <div class="column span-3 last right"><h2><a href="[script_name]/details/logout/[session]">Logout</a></h2></div>
[end][define menu]
                    <!-- change password:menu -->	
                    <p><a href="[script_name]/details/logout/[session]">Logout</a></p>
[end][define messagebox]
                        <h3>[if-any message][message][else]Please update your password[end]</h3>
[end][#

][include "layout.html"]
