[define title]Apache Account Utility[end][define body]
                        <!-- start of index -->
                        <form action="[script_name]/details/login" method="POST" id="form">
[# TODO: give focus to the first textbox ]
                            <p><label>Apache User ID:</label><input type="text" name="availid" value="[availid]" tabindex="1" /></p>
                            <p><label>Password:</label><input type="password" name="password" tabindex="2" /></p>
                            <p><label>Change password?</label><input type="checkbox" name="changepw" [if-any changepw_is_checked]checked[end] tabindex="10"/></p>
                            <p><input type="submit" name="login" value="Login" tabindex="100" /></p>
                        </form>
                        <p class="forgotpw"><a href="[script_name]/reset/enter">Forgot your password?</a></p>

                        <!-- end of layout -->
[end][define messagebox]
                        <h3>[if-any message][message][else]Please Login[end]</h3>
                        <p>If you have lost access to your registered email address, you will need
                        to file an additional ICLA with Secretary. Follow the directions for
                        <a href="http://www.apache.org/licenses#submitting">submitting</a> an ICLA.</p>
                        <p>Include your current Apache id on the ICLA and mention in your cover email
                        that you are requesting a change to your email address.</p>
[end][#

][include "layout.html"]
