[define title]Apache Account Utility: Reset Password[end][#
][define body]
                        <!-- start of resetpassword -->
                        <form action="#" method="POST" >
                            <p><label>New Password</label><input type="password" name="new_pw1" tabindex="10" /></p>
                            <p><label>Confirm New Password</label><input type="password" name="new_pw2" tabindex="10" /></p>
                            <p>
                                <input type="submit" name="submit" value="Reset Password" tabindex="100" />
                                <input type="hidden" name="hextoken" value="[hextoken]" />
                            </p>
                        </form>
                        <!-- end of resetpassword -->
[end][define toolbar]
                    <!-- resetpassword:toolbar -->
                    <div class="column span-8 first append-1"><h2>Apache Account Utility</h2></div>
                    <div class="column span-6 right"><h2>Welcome: [availid]</h2></div>
                    <div class="column span-3 last right">&nbsp;</div>
[end][define messagebox]
                        <h3>[if-any message][message][else]Please reset your password[end]</h3>
[end][#

][include "layout.html"]
