<div class="dayBox">

    <div class="dayTitle">
        $utils.truncateNicely($utils.removeHTML($entry.title), 50, 50, "...")
    </div>

    <div class="entry">

        <p class="entryDescription">
            $entry.displayContent
        </p>

        <p class="entryInfo">
            Posted at <a href="$url.entry($entry.anchor)">
               $utils.formatDate($entry.pubTime, "hh:mma MMM dd, yyyy")</a>
            by $entry.creator.screenName in <span class="category">$entry.category.name</span>
        </p>

    </div>

</div>